{% extends "base.html" %}

{% block content %}
<div class="media-container px-1">
        {% if media %}
            <div class="media-content container">
                <div class="row align-items-center media py-5">
                    {% if media.image_url %}
                    <div class="media-image col-4 media">
                        <img src="{{ media.image_url }}" alt="{{ media.title }}" class="img-fluid align-self-center mr-3">
                    </div>
                    {% endif %}
                    <div class="media-info col">
                        <h1 class="media-title">{{ media.title }}</h1>
                        <p class="media-description">{{ media.description }}</p>
                        <div class="media-cast">
                            <h3>Cast:</h3>
                            <ul>
                                {% for actor in media.cast %}
                                <li>{{ actor }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <a class="btn btn-primary" href="{{url_for('submit_thoughts', media_type=media_type, media_id=media_id)}}">Join in!</a>
                </div>
            </div>
           <div class="containter">
                {% for response in responses %}
                    <div class="card">
                        
                    </div>
                {% endfor %}
           </div>
            {% block thoughts %}{% endblock %}
            {% block submit_thoughts %}{% endblock %}
        {% else %}
            <div class="error-message">
                <h2>{{ media_type }} not found</h2>
                <p>The requested {{ media_type.lower() }} could not be found.</p>
                <a href="{{ url_for('hello') }}">Back to Home</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
